<header class="p-3 text-bg-dark mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="../assets/logo.png" alt="" width="40px" style="margin-right: -3%;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">IP Address Management Solution</span>
        </a>
        <ul class="nav nav-pills">
          <li><a routerLink="/home" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="/ip-address" class="nav-link px-2 text-white">IP Address</a></li>
          <li><a routerLink="/audit-log" class="nav-link px-2 text-white">Audit Log</a></li>
        </ul>
        &nbsp;&nbsp;
        <div class="text-end" *ngIf="!loggedIn">
          <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
          <button type="button" class="btn btn-warning" routerLink="/sign-up">Sign-up</button>
        </div>
        <div class="text-end" *ngIf="loggedIn">
          <button type="button" class="btn btn-outline-light me-2" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>